body {
    background-color:#111132;
    padding:0;
    margin:0;
    font-weight: bold;
    overflow:hidden;
}

#container{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:960px;
    height: 400px;
    background-color:rgba(33,33,33,1);
}

#sliderDragger {
    position: absolute;
    left:-960px;
    top:0;
    width:1920px;
    height:400px;
    background-color: rgba(210,146,57, 0);
}